#Python
temptest.py
httptest.py
golftest.py
bookexample.py

#Picture
2.png
3.jpg
5.jpg
beautiful girl.jpg
golf1.jpg
mutilgolf.jpg
mutilgolf1.jpg
save.jpg


#other
golfdetct
opencvtoturialtest
.idea/
findtheball.avi
